{% extends "base.html" %}
{% block content %}
<h2>새 캡슐</h2>
<form class="new_capsule" id="post" method="post">
    <div class="year">
        <label>희망 공개 연도</label>
        <select name="year">
            {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
        </select>
    </div>
    
    
    <div>
        <label>캡슐 내용</label>
        <br>
        <textarea name="content"></textarea>
    </div>


    <div style="text-align: center;">
        <button id="tempsave" class="btn">임시저장</button> &nbsp; <input type="submit" class="btn" alt="저장">
    </div>
</form>

<script type="text/javascript">
    $("#tempsave").click(function () {
        var form = $("#post")[0];
        var data = new FormData(form);

        $.ajax({
            type: "POST",
            url: base_url + "/capsule/tmp/save",
            data: data,
            processData: false,
			contentType: false,
			cache: false,
            success: function (response) {
                alert("성공적으로 저장했습니다.");
            },
            error: function (request, status, error) {
                alert(error);
            },
        });
    });
</script>
{% endblock %}